/* Tablets and below */
@media (max-width: 1024px) {
    body {
        flex-direction: row;
        height: auto;
        padding: 20px;
    }

    #container {
        flex-direction: column;}

    #right {  width: 92%;  margin: 21rem 0; margin-left: 2rem;}
        #rhead {flex-basis: 8rem;}
            #navbar a {font-size: 40px;}

        #box { flex-basis: 40rem;}
             #still{
                width: 40rem;
                margin: 2rem;
                height: 36rem;
                margin-left: 6rem;}
        .carousel-item{min-width: 40rem;  min-height: 34rem;}
                .quote {margin: 5rem; font-size: 60px;}
                #skills > div { height: 100px; width: 100px;}
        .rfoot { flex-basis: 4rem;}

    #left {  width: 95%; margin: 6rem 0;} 
    #left li img { width: 65px; height: 65px;
            display: none; transition: all 0.5s;}
            #left button span {
                font-size: 20px;}
    
        #middle{
            border: 2px solid burlywood;
            height: 28rem;
            width: 28rem;
            margin-top: 6px;    
            margin-left: 200px;
            border-radius: 50%;}

    span img {
        height: inherit;
        width: inherit;}

    .lhead {
        width: 100%;     font-size: 35px;}

    #profile{
        display: flex;
        width: 25em;}

    #lmid{ width: 58%;}
    #prbtn{ width: 150px; height: 70px;margin-left: 7rem;} #lmid button  span {font-size: 20px;}

    #lmid ul{height: 20rem; width: 320px;}

    .lfoot {
        width: 100%; .para{ font-size: 30px;}} 
    .lfoot   h2{font-size: 35px;}  
    

    #resbtn{height: 45px; width: 230px; margin-left: 600px;}
}

/* Phones and below */
@media (max-width: 768px) {
    

    

    #still {
        width: 100%;
        margin-left: 0;
        overflow-x: scroll;
    }

    .carousel-item {
        min-width: 100%;
    }

    #skills {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    span img {
        height: 10rem;
        width: 10rem;
    }
    }