/* Tablets and below */
@media (max-width: 1024px) {
    body {
        flex-direction: row;
        height: auto;
        padding: 20px;
    }

    #container {
        flex-direction: column;}

    #right {
        width: 90%;
        margin: 31rem 0;
        height: 40%;}

    #left {
        width: 100%;
        margin: 3rem;} #left li img {
            width: 60px;
            height: 60px;
            display: none;
            transition: all 0.5s;}
    
        #middle{
            border: 2px solid burlywood;
            height: 30rem;
            width: 30rem;
            margin-top: 0px;
            margin-left: 200px;
            border-radius: 50%;}

    span img {
        height: inherit;
        width: inherit;}

    .lhead {
        width: 90%;     font-size: 48px;}

    #profile{
        display: flex;
        width: 20em;}

    #lmid{
        width: 58%;}
    #prbtn{     width: 120px;
        height: 50px; margin-left: 7rem;}

    #lmid ul{
        height: 25rem;
        width: 250px;}

    .lfoot {
        width: 90%; .para{ font-size: 35px;}} 
    .lfoot   h2{font-size: 40px;}  
    

    #resbtn{
    height: 30px;
    width: 160px;
    margin-left: 520px;}
}

/* Phones and below */
@media (max-width: 768px) {
    #navbar a {
        font-size: 20px;
    }

    .quote {
        font-size: 25px;
    }

    #still {
        width: 100%;
        margin-left: 0;
        overflow-x: scroll;
    }

    .carousel-item {
        min-width: 100%;
    }

    #skills {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    span img {
        height: 10rem;
        width: 10rem;
    }
    }