body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default body margin */
}

#container{
   display: flex;
}

span img{
    border: 2px solid burlywood;
    height: 15rem;
    width: 15rem;
    margin-top: 4rem;
    margin-left: 10px;
    border-radius: 50%;}


/* LEFT SIDE */
#left{
    height:35rem;
    display: flex;
    flex-direction: column;
    width: 14rem;

}

#left > div{
background-color: burlywood;
text-align: center;
}
#left  li{
    font-size: 24px;
}
#left > div > button{
    border-radius: 10% 50% 10% 50%;
}



/* RIGHT SIDE */
#right{
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin-left: 3rem;
}
    /* margin-left: 1rem; */
#right > div{
    background-color: burlywood;
    text-align: center;
    
    } 

 #navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
    font-size: 1rem;
}

/* corousel desgin */
#box{
    position: relative;
    /* border: 2px solid black; */
   /* width: 80rem; height: 50rem; */
   /* margin-left: 4rem;    margin-top: 2rem; */
   overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
.carousel-item{
    position: sticky;
    border: 2px solid black;
    height: 20rem;
    min-width: 80%;
    transition: opacity 1s ease;
    margin-top: 1.5rem;
    margin-left: 4rem;
     border-radius: 20% 40% 20% 40%;
}
